//Botón en medio de la pantalla
.btn {
    width: 170px;
    height: 45px;
    font-family: $font-josefinSans;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-primary;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    @include centering(110%);

    &:hover {
        background-color: #AAAAFFFF;
    }
}